# dependencies (bun install)
node_modules

# output
out
dist
docs
examples/02-batch-convert/outputs
examples/04-cli-quickstart/out-codemeta.json
examples/04-cli-quickstart/out-codemeta-short.json
examples/05-stdin-stdout-pipes/out-*.json
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store
